<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>

<div class="container">

    <h1>All spends from Monobank</h1>

    <form method="post" th:object="${range}">
        <div class="form-group row">
            <div class="col-md-4 mt-5">
                <label for="start-date">Start date</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="start-date" autocomplete="off" th:field="*{dateFrom}"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <label for="end-date">End date</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="end-date" autocomplete="off" th:field="*{dateTo}"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${spends.empty}">
            <td colspan="2"> No Spends Available </td>
        </tr>
        <tr th:each="spend : ${spends}">
            <td><span th:text="${spends.indexOf(spend)}"></span></td>
            <td><span th:text="${spend.amount}"></span></td>
            <td><span th:text="${spend.date}"></span></td>
            <td><span th:text="${spend.category}"></span></td>
            <td><span th:text="${spend.balance}"></span></td>
        </tr>
        </tbody>
    </table>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/date-picker.js}"></script>

</body>
</html>